.app-wrapper {
  display: grid;
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;

  grid-template-areas: 'h h''nav c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
}